<div class="container text-center">
    <h1>About page</h1>
    <p>A test app for a rails tutorial</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, 
        culpa, beatae, reiciendis incidunt accusamus aperiam quibusdam pariatur 
        repellendus ipsum molestiae soluta saepe quod cum nobis sit. Modi, 
        suscipit autem quisquam.
    </p>
</div>