<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>The site's contact form was filled out by
        <%= " #{@name}, #{@email}. " %> See comment below:</p>
        
        <p><%= @body %></p>
    </body>
</html>